{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_content %}
    <ul>
        <li class="text-3xl">
            <a href="{{ path('admin_misc_update_logo' )}}">Changer le logo du festival</a>
        </li>
    </ul>
{% endblock %}