@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

// Inutile de mettre tous les éléments dans le sélecteur body
// Ils héritent tous de body initialement.
body{
    height: 100vh;
    background-color: white;
    color: #131313;
    position: relative;
    overflow-y: hidden;
    font-family: 'Inter', sans-serif;


    .global-content{
        display: flex;
        height: 95%;
    }

    .content{
        padding-top: 50px;
        width: 80%;
        margin: 0 auto;
        line-height: 1.2;
    }

    .left-content{
        background-color: #f4f5f7;
        width: 25%;
        position: relative;

        h2{
            font-size: 2rem;
        }

        // Même s'il n'y a qu'un seul élément, prévilégiez les classes
        // L'id a une spécificité plus forte que la classe CSS
        // Ceci peut créer des problèmes après.
        #listeEtudiant{
            padding-top: 15px;
            li{
                padding-top: 7px;
            }
        }

        .content-button{
            position: absolute;
            bottom: 50px;
            width: 80%;

            button{
                width: 100%;
                background-color: transparent;
                color: #131313;
                border: 2px #2e4acd solid;
                transition: 0.3s;
                &:hover{
                    // Votre bleu "#2e4acd" est utilisé 3 fois, pensez à la variable css
                    // https://developer.mozilla.org/fr/docs/Web/CSS/Using_CSS_custom_properties
                    background-color: #2e4acd;
                    color: #f4f5f7;
                    // Inutile
                    transition: 0.3s;
                }
            }
        }
    }

    .right-content{
        width: 75%;

        .titre{
            font-size: 3.5rem;

        }

        .explication{
            color: #7d7d7d;
            padding: 25px 0 30px 0;
            width: 70%;
            line-height: 1.5;
        }

        #nomPrenom{
            padding-top: 50px;
            font-size: 5rem;
            font-weight: bold;
        }
    }

    // Un peu trop général ce sélecteur
    button{
        background-color: #2e4acd;
        color: #f4f5f7;
        padding: 19px 59px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            background-color: #243daa;
            transition: 0.2s;
        }
    }

    footer{
        background-color: #243daa;
        color: #f4f5f7;
        height: 5%;

        .contenu{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}