.accordion-header:target {
    background-color: rgb(241, 245, 249);
    box-shadow: inset 0 0 0 1px rgb(203, 213, 225);
}

.field-collection-item:has(input:invalid) {
    border: 1px solid var(--form-input-error-border-color);
    box-shadow: var(--form-input-error-shadow);
}
