@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

html {
    font-family: "Inter", sans-serif;
}

::backdrop {
    background-color: theme("colors.gray.950");
    opacity: 0.75;
}

@layer components {
    .horizontal-text {
        @screen lg {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}

.bulle-icone {
    position: absolute;
    left: 50%;
    top: 200px;
    z-index: -1;
    width: 65%;
    aspect-ratio: 121/100;
    background-image: url("../../public/images/image-article.tmp.png");
    background-repeat: no-repeat;
    background-size: cover;
    mask: url("../../public/images/bulle.svg") no-repeat center / contain;
    -webkit-mask: url("../../public/images/bulle.svg") no-repeat center /
        contain;
    transform: translateX(-50%);
}

.bulle-icone-bordure {
    position: absolute;
    left: 48.5%;
    top: 185px;
    z-index: -1;
    width: 65%;
    aspect-ratio: 121/100;
    mask: url("../../public/images/bulle-bordure.svg") no-repeat center / contain;
    -webkit-mask: url("../../public/images/bulle-bordure.svg") no-repeat center /
        contain;
    mix-blend-mode: normal;
    background-color: theme("colors.blue.700");
    transform: translateX(-50%);
}
