<ul id="navigation" class="flex absolute gap-x-3 left-1/2 -translate-x-1/2 z-10">
    {% for item in ['avenir', 'artiste', 'creation-numerique', "innovation"] %}
        <li>
            <a href="/{{ item }}">{{ item }}</a>
        </li>
    {% endfor %}
</ul>