{% block _Award_custom_title_widget %}
	{{ form_widget(form) }}
	<div>
		<p>Affichage sur le site :
			<b>Prix <span data-computed-award-display>
				{{ form.vars.value }}</span></b>
		</p>
	</div>
{% endblock %}
