<section class="flex gap-6 flex-wrap h-fit">
	<img class="w-10 lg:w-20 object-contain" src="{{ asset('images/logo-cyu.png') }}" alt="Logo CY IUT">
	<img class="w-10 lg:w-20 object-contain" src="{{ asset('images/logo-mmi.png') }}" alt="Logo MMI">
	<img class="w-10 lg:w-20 object-contain" src="{{ asset('images/logo-talents-iut.png') }}" alt="Logo Les talents de l'IUT">
</section>
