@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Italic-VariableFont_opsz,wght") format("truetype");
    font-style: italic;
    font-weight: 100 900;
}

* {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

body {
    font-family: "Inter", sans-serif;
}

::backdrop {
    background-color: theme("colors.gray.950");
    opacity: 0.75;
}

@layer components {
    .horizontal-text {
        @screen lg {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}

.list-participants {
    scrollbar-width: thin;
    scrollbar-color: theme("colors.blue.700") theme("colors.blue.200") ;
}