@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

::backdrop {
    background-color: theme("colors.gray.950");
    opacity: 0.75;
}

@layer components {
    .horizontal-text {
        @screen lg {   
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}
