@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}

body {
    font-family: "Inter", sans-serif;
}

::backdrop {
    background-color: theme("colors.gray.950");
    opacity: 0.75;
}

@layer components {
    .horizontal-text {
        @screen lg {
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }
}
